html, body {
  font-family: "Buda", sans-serif;
  margin: 0;
}

header {
  background-color: darkgrey;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 18px;
}

main {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  gap: 20px;
  padding: 1em;
}


